<!--  conditionals maze?  -->
    <% if flash[:notice] %>
        <h4 class="warning-notice"><%= flash[:notice] %></h4>
    <% end %> 
    <div id="track-list" class="row">
        <div class="col-xs-12">
            <div class="tracks-table-container">
                <table class="table table-hover table-responsive tracks-table">
                    <thead>
                        <tr>
                            <th>TITLE</th>
                            <% if @category %>
                                <th>USER</th>
                            <% end %>
                            <th>CATEGORY</th>
                            <th>DATE</th>
                            <th>LENGTH</th>
                            <% if @category == nil %>
                                <th></th>
                            <% end %>
                        </tr>
                    </thead>
                    <tbody>
                       <!-- If the user is not on a specific user's page: -->
                        <% if !@user %>
                            <% @tracks.reverse.first(20).each do |track| %>
                                <% if !UserTrack.where({track_id: track.id, user_id: current_user.id})[0] %>   
                                    <% user_name = User.find(track.user_id).username %>
                                    <tr class="song-row" data-id="<%= track.id %>">
                                        <td class="table-title"><%= track.title %></td> 
                                        <td><%= link_to user_name, user_path(track.user_id) unless !@category %></td> 
                                        <td><%= link_to track.category, tracks_path(:category => track.category) %></td>
                                        <td><%= track.formatted_time %></td>
                                        <% if track.length_select %>
                                            <td><%= track.length_select %></td>
                                        <% else %>
                                            <td>&lt; 1 min</td>    
                                        <% end %>
                                    </tr>
                                <% end %>
                            <% end %>
                        <% else %>
                           <!-- Show the first 20 of the current user's audio tracks: -->
                            <% @user.tracks.reverse.first(20).each do |track| %> <!-- Only show if the user has not yet --> 
                                <% if !UserTrack.where({track_id: track.id, user_id: current_user.id})[0] %><!-- listened -->
                                    <tr class="song-row" data-id="<%= track.id %>"> <!-- Filling in the tracks table -->
                                        <td class="table-title"><%= track.title %></td>
                                        <td><%= link_to track.category, tracks_path(:category => track.category) %></td>
                                        <td><%= track.formatted_time %></td>
                                        <% if track.length_select %>
                                            <td><%= track.length_select %></td>
                                        <% else %>
                                            <td>&lt; 1 min</td>    
                                        <% end %>    							<!-- deletion privileges for the current user -->
                                        <td><%= link_to("X", track_path(track), method: :delete) if track.user == current_user %></td>
                                    </tr> 
                                <% end %>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <td id="waveformTemplate" colspan="7"></td>
    

    