<div id="new-user" class="container">
   <div class="row">
    <h1 style="text-align: center;">Sign Up</h1>
    <%= bootstrap_form_for @user, html: {multipart: true} do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages.reverse %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= f.text_field :username, icon: "user" %>
      </div>
      <div class="field">
      <div class="field">
        <%= f.text_field :email, icon: "envelope" %>
      </div>
       <div class="field">
        <%= f.text_area :about, icon: "pencil" %>
      </div>
       <div class="field">
        <%= f.text_field :website, icon: "globe" %>
      </div>
       <div class="field">
        <%= f.file_field :image %>
      </div>
      <div class="field">
        <%= f.password_field :password, icon: "lock" %>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, icon: "lock" %>
      </div>
      <div style="float: right" class="actions"><%= f.submit %></div>
    <% end %>

    </div>
</div>
</div>