<h1>Sign Up</h1>
<%= form_for @user, html: {multipart: true} do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
   <div class="field">
    <%= f.label :about %>
    <%= f.text_field :about %>
  </div>
   <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>
   <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>