<div class="row tracks-banner">
    <% if @user == current_user %>
        <div class="user-image">

            <%= image_tag @user.image.url(:medium), width: "200px", class: "img-circle" %>   
          <div class="caption text-over-image shrink">
            <h3><%= current_user.username %></h3>
            <h5>72 plays | 88 followers | following 32</h5>
            <h5><%= current_user.about %></h5>
            <h5><%= link_to current_user.website, current_user.website, :target => "_blank" %></h5>
            <a href="#upload" data-toggle="modal">upload track </a>|<a href="#edit" data-toggle="modal"> edit profile</a>
          </div>
        </div>
    <% else %>
        <div class="user-image">
            <%= image_tag @user.img_url, width: "200px", class: "img-circle" %>      
          <div class="caption text-over-image shrink">
            <h3><%= @user.username %></h3>
            <h5>72 plays | 88 followers | following 32</h5>
            <h5><%= @user.about %></h5>
            <h5><%= link_to @user.website, @user.website, :target => "_blank" %></h5>
          </div>
        </div>
    <% end %>
</div>
     
<%= render 'tracks/track_list' %>

<% if @user == current_user %>        

    <!--  upload modal  -->
    <div>
        <div class="modal fade" id="upload" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>UPLOAD TRACK</h4>
                    </div>
                    <div class="modal-body">
                        <div id="" class="col-xs-6 col-md-4">
                            <% if @track && @track.errors %>
                              <p>Your track failed:</p>
                              <ul class="error-messages">
                                <% @track.errors.full_messages.each do |e| %>
                                  <li class="warning-notice"><%= e %></li>
                                <% end %>
                              </ul>
                            <% end %>
                        </div>

                        <div class="track-new">
                          <%= bootstrap_form_for [@user, Track.new] do |f| %>
                            <div class="field form-group">
                              <%= f.label :title %>
                              <%= f.text_field :title, class: "form-control" %>
                            </div>
                            <div class="field form-group">
                              <%= f.label :category %>
                              <%= f.select(:category, ['music', 'stories', 'poetry', 'gratitude', 'wishes', 'rants']) %>
                            </div>
                            <div class="field">
                              <%= f.label :audio %>
                              <%= f.file_field :track_url %>
                            </div>
                            <div class="field">
                              <%= f.label :length %>
                              <%= f.text_field :length %>
                            </div>
                              <%= hidden_field_tag "redirect", user_path(@user) %>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="actions"><%= f.submit "UPLOAD", class: "btn btn-primary" %></div>
                        <% end %>
                        <a href="" class="btn btn-default" data-dismiss="modal">CLOSE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  edit modal  -->
        <div class="modal fade" id="edit" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>EDIT PROFILE</h4>
                    </div>
                    <div class="modal-body">
                        <%= bootstrap_form_for @user do |f| %>
                        <% if @user.errors.any? %>
                            <h4>Form is invalid:</h4>
                            <ul class="error-messages">
                              <% @user.errors.full_messages.each do |message| %>
                                <li class="warning-notice"><%= message %></li>
                              <% end %>
                            </ul>
                        <% end %>
                        <div class="field">
                        <%= f.text_field :username, icon: "user" %>
                        </div>
                        <div class="field">
                        <%= f.text_field :email, icon: "envelope" %>
                        </div>
                        <div class="field">
                        <%= f.text_area :about, icon: "pencil" %>
                        </div>
                        <div class="field">
                        <%= f.text_field :website, icon: "globe" %>
                        </div>
                        <div class="field">
                            <%= f.file_field :image %>
                        </div>
                    </div>
                <div class="modal-footer">
                        <div class="actions"><%= f.submit "SAVE", class: "btn btn-primary" %></div>
                    <% end %>
                        <a href="" class="btn btn-default" data-dismiss="modal">CLOSE</a>
                </div>
            </div>
        </div>
    </div>
<% end %>